[submodule "third_party/yaggo"]
	path = third_party/yaggo
	url = https://github.com/peterhj/yaggo.git
	branch = master
[submodule "third_party/Jellyfish"]
	path = third_party/Jellyfish
	url = https://github.com/peterhj/Jellyfish.git
	branch = master
[submodule "third_party/amos"]
	path = third_party/amos
	url = https://github.com/peterhj/amos.git
	branch = master
[submodule "third_party/wgs-assembler"]
	path = third_party/wgs-assembler
	url = https://github.com/peterhj/wgs-assembler.git
	branch = master
